Repository Neural-Space/genos: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, update-lockfile

isort:
  name: Arrange imports and reformats code
  entry: make format
  language: system
  require_serial: true

flake8:
  name: Check code formatting using lint
  entry: make lint
  language: system
  require_serial: true

update-lockfile:
  name: Update the lock file
  entry: poetry lock
  language: system
  pass_filenames: false

#2 icon attribution in README.md
  README.md
Due: none

removed parsing error
  .circleci/config.yml
Due: none

Add files via upload
  Logo v1.png
Due: none

Added logo
  README.md
Due: none

#2 bleeding edge typo
  README.md
Due: none

added logo
  logo.png
Due: none

Update README.md
  README.md
Due: none

changed config
  .circleci/config.yml
  Makefile
Due: none

#2 removed multi import of copy
  src/genos/instantiate.py
Due: isort, flake8

#3 Updated package minor version to test pypi upload manually.
  src/genos/version.py
Due: isort, flake8

#3 Updated circleci config to fix CI pypi bug.
  .circleci/config.yml
  src/genos/version.py
Due: isort, flake8

#3 Updated config.yml to fix parse error.
  .circleci/config.yml
Due: none

#3 Changed version and fixed CI pipeline.
  .circleci/config.yml
  src/genos/version.py
Due: isort, flake8

#3 Updated cache in circle CI to fix twine dependency
  .circleci/config.yml
  src/genos/version.py
Due: isort, flake8

#3 Fixed makefile to ensure twine is installed.
  Makefile
  src/genos/version.py
Due: isort, flake8

#3 Added long description text type to fix deploy bug.
  setup.py
  src/genos/version.py
Due: isort, flake8

#3 Updated readme and removed logo file.
  README.md
  logo.png
Due: none

#3 Updated version
  src/genos/version.py
Due: isort, flake8

#17 removed docker related files
  Dockerfile
  docker-compose.yml
Due: none

AB#5099 updated poetry specifically for omegaconf requried for pyannot 2.0
  Makefile
  poetry.lock
  src/genos/version.py
Due: isort, flake8

AB#5099 updated omegaconf version bump
  poetry.lock
  pyproject.toml
  src/genos/version.py
  tests/test_instantiate.py
Due: isort, flake8, update-lockfile

AB#5099 updated omegaconf version in setup.py
  setup.py
Due: isort, flake8

AB#5099 updated omegaconf version in setup.py
  src/genos/version.py
Due: isort, flake8

restricted omegaconf version and added test case
  poetry.lock
  pyproject.toml
  tests/test_instantiate.py
Due: isort, flake8, update-lockfile

update package, updates for omega conf 2.3.0 required downstream
  poetry.lock
  pyproject.toml
  src/genos/instantiate.py
  tests/test_instantiate.py
Due: isort, flake8, update-lockfile

update setup py
  setup.py
Due: isort, flake8

version bump
  src/genos/version.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  update-lockfile: any of: pyproject.toml
