Repository Neural-Space/genos: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, update-lockfile

isort:
  name: Arrange imports and reformats code
  entry: make format
  language: system
  require_serial: true

flake8:
  name: Check code formatting using lint
  entry: make lint
  language: system
  require_serial: true

update-lockfile:
  name: Update the lock file
  entry: poetry lock
  language: system
  pass_filenames: false

Added instantiation logic
  .gitignore
  src/my_package/utils.py
  tests/test_utils.py
Due: isort, flake8

Update README.md
  README.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Create LICENSE
  LICENSE
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Create LICENSE-hydra
  ATTRIBUTIONS/LICENSE-hydra
Due: none

Create README.md
  ATTRIBUTIONS/README.md
Due: none

Added lockfile
  Dockerfile
  Makefile
  poetry.lock
  pyproject.toml
  src/genos/__init__.py
  src/genos/panini_example.py
  src/genos/utils.py
  tests/test_utils.py
Due: isort, flake8, update-lockfile

#1 renamed utils to instantiate for coherence
  src/genos/__init__.py
  src/genos/instantiate.py
  src/genos/panini_example.py
  src/genos/version.py
  tests/test_instantiate.py
  tests/test_template.py
Due: isort, flake8

#1 renamed make targets
  Makefile
Due: none

#1 updated deps and uninstalled panini
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  setup.py
Due: isort, flake8, update-lockfile

#1 added placeholders for docs
  README.md
Due: none

#1 updated CI to reflect makefile changes
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Added some required fields in setup.
  setup.py
Due: isort, flake8

Added license and CI badge
  README.md
Due: none

Added example.py file in a folder for examples.
  examples/example.py
Due: isort, flake8

Added support for native dict object
  src/genos/instantiate.py
Due: isort, flake8

#2 added examples package in genos
  .coveragerc
  README.md
  docs/index.md
  examples/example.py
  src/genos/__init__.py
  src/genos/examples/__init__.py
  src/genos/examples/complex_examples.py
  src/genos/examples/simple_examples.py
Due: isort, flake8

#2 updated setup.py with long description
  Makefile
  README.md
  setup.py
Due: isort, flake8

Added classifiers
  setup.py
Due: isort, flake8

Added hall of fame
  README.md
Due: none

updated config.yml
  .circleci/config.yml
Due: none

updated circleci
  .circleci/config.yml
Due: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

#2 Genos description
  README.md
Due: none

#2 Updated readme with project motivation
  README.md
  setup.py
Due: isort, flake8

updated config.yml
  .circleci/config.yml
  Makefile
Due: none

Path conditions:
  isort: any of: \.py$
  flake8: any of: \.py$
  update-lockfile: any of: pyproject.toml
